.container {
  display: flex;
  position: relative;

  img {
    width: 94%;
    height: 100%;
    filter: blur(5px);
    border: 0;

    z-index: -1;
  }

  .menu-team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 94%;
    height: 100%;

    position: absolute;

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      outline: inherit;

      margin: 50px;
      border-radius: 50%;

      img {
        filter: opacity(0.5);
        width: 275px;
        height: 275px;

        transition: 0.2s;
        &:hover {
          filter: opacity(0.9);
        }
      }
    }
  }

  .menu-bombs {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;

    background: var(--background);

    width: 6%;
    height: 100%;

    position: relative;

    hr {
      width: 35px;
    }

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      outline: inherit;

      margin: 10px;
      border-radius: 50%;

      img {
        filter: opacity(0.5);
        width: 30px;
        height: 30px;

        transition: 0.2s;
        &:hover {
          filter: opacity(0.9);
        }
      }
    }
  }
}
