.container {
  display: flex;
  position: relative;

  img {
    width: 94%;
    height: 100%;
    filter: blur(5px);
    border: 0;

    z-index: -1;
  }

  .menu-team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 94%;
    height: 100%;

    position: absolute;

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      outline: inherit;

      margin: 50px;
      border-radius: 50%;

      img {
        filter: opacity(0.5);
        width: 275px;
        height: 275px;

        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-select: none;

        transition: 0.2s;
        &:hover {
          filter: opacity(0.9);
        }
      }
    }
  }

  .menu-bombs {
    display: none;
    align-items: center;
    flex-direction: column;

    position: relative;

    background: var(--background);

    width: 6%;
    height: 100%;

    position: relative;

    hr {
      width: 35px;
    }

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      outline: inherit;

      margin: 10px;
      border-radius: 50%;

      img {
        filter: opacity(0.5);
        width: 30px;
        height: 30px;

        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-select: none;

        transition: 0.2s;
        &:hover {
          filter: opacity(0.9);
        }
      }
    }
  }

  .menu-videos {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: grid;

    position: absolute;

    margin: 80px;

    iframe {
      width: 450px;
      height: 250px;
      margin: 10px;
    }
  }
}
