.container {
  display: 'flex';
  flex-direction: 'row';
}

.sidebar {
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: 24rem;
  width: 100%;
  height: 100vh;

  padding: 2rem;

  background: var(--background-2);

  > span {
    margin-bottom: 4.5rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--yellow);

    p {
      display: inline;
      color: var(--white);
    }
  }

  .button-map {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 4rem;

    border: 0;
    border-radius: 0.25rem;
    padding: 1.1875rem 2rem;

    font-size: 1.125rem;
    color: var(--white);
    background: var(--background-button);

    text-decoration: none;
    transition: 0.2s;

    &:hover {
      background: var(--background-button-hover);
    }

    &:first-child {
      margin-top: 0;
    }

    & + button {
      margin-top: 1rem;
    }

    &.selected {
      background: var(--background-button-hover);
      color: var(--yellow);
    }
  }
}
